In [2]:
import matplotlib.pyplot as ply
import numpy as np
import pandas as pd

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lenovo\anaconda3\lib\site-packages (3.2.2)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.11 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv("C:/Users/LENOVO/Desktop/DataSet.csv", header=None)

In [5]:
df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [6]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = headers
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?

# Data cleansing and normalization

In [8]:
df=df.replace('?',np.NaN)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [9]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

 Attribute #:   Number of instances missing a value:
   2.             41    //normalized loses
   6.             2      //num-of-doors
   19.            4     //bore
   20.            4      //stroke
   22.            2     //horsepower
   23.            2      //peak-rpm
   26.            4      //price
   
   
   Deal with these missing values: Depends on the columns the missing values are at
   In some training data rows the price is missing
   We want to train the model to predict the price using given data
   Now when price is missing the whole row( training data row) is useless
   So we drop it

In [10]:
#  drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped the rows
df.reset_index(drop=True, inplace=True)
df.head(12)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970

Below we get all the rows which have atleast one missing cell
We do this to understand how we can deal with the missing values

In [11]:
df.loc[df.isnull().any(axis=1)]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
13,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
14,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
15,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
16,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
26,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
42,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
43,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048
45,0,NaN,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
46,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000
52,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
53,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,11845
54,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
63,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
68,-1,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
70,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
72,1,NaN,mercury,gas,turbo,two,hatchback,rwd,front,102.7,...,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503
79,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629
80,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
81,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
106,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
107,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
110,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
111,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
121,3,NaN,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764
123,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528
124,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028
125,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
126,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
127,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
177,-1,NaN,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750
185,3,NaN,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
187,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
188,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
189,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290

num of doors of sedan car are missing
Usually it has 4 doors
So we replace the num of doors by 4 instead of NAN.

In [12]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

The stroke and bore values of mazda style automobile which runs on gas is missing
We dont have any other rows with these details for reference
So we will replace them with mean

In [13]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

#Replace NaN by mean value
df["bore"].replace(np.nan, avg_bore, inplace=True)

avg_stroke=df['stroke'].astype('float').mean(axis=0)
print("Average of stroke:", avg_stroke)

#Replace NaN by mean value
df["stroke"].replace(np.nan, avg_stroke, inplace=True)

Average of bore: 3.328418367346939
Average of stroke: 3.25744897959183

The horsepower and peak_rpm depend on various parameter
We will replace horsepower and peak_rpm with mean values

In [14]:
avg_horsepower=df['horsepower'].astype('float').mean(axis=0)
print("Average of horsepower:", avg_horsepower)

#Replace NaN by mean value
df["horsepower"].replace(np.nan, avg_bore, inplace=True)

avg_peakrpm=df['peak_rpm'].astype('float').mean(axis=0)
print("Average of peak_rpm:", avg_peakrpm)

#Replace NaN by mean value
df["peak_rpm"].replace(np.nan, avg_peakrpm, inplace=True)

Average of horsepower: 103.34343434343434

KeyError: 'peak_rpm'

In [15]:
# Calculate the average of the column
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

#Replace "NaN" by mean value in "normalized-losses" column
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

Average of normalized-losses: 122.29447852760737

In [16]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

normalized loses should be of the type int
Price also should be of the type int
horse power and peak rpm should be of type int
bore and stroke should be of type float

In [17]:
#Convert data types to proper format
df[["bore", "stroke","price","peak-rpm","horsepower"]] = df[["bore", "stroke","price","peak-rpm","horsepower"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          200 non-null    int64
 1   normalized-losses  200 non-null    int32
 2   make               200 non-null    object
 3   fuel-type          200 non-null    object
 4   aspiration         200 non-null    object
 5   num-of-doors       200 non-null    object
 6   body-style         200 non-null    object
 7   drive-wheels       200 non-null    object
 8   engine-location    200 non-null    object
 9   wheel-base         200 non-null    float64
 10  length             200 non-null    float64
 11  width              200 non-null    float64
 12  height             200 non-null    float64
 13  curb-weight        200 non-null    int64
 14  engine-type        200 non-null    object
 15  num-of-cylinders   200 non-null    object
 16  engine-size        200 non-null    int64
 17  fuel-system        200 non-null    object
 18  bore               200 non-null    float64
 19  stroke             200 non-null    float64
 20  compression-ratio  200 non-null    float64
 21  horsepower         200 non-null    float64
 22  peak-rpm           198 non-null    float64
 23  city-mpg           200 non-null    int64
 24  highway-mpg        200 non-null    int64
 25  price              200 non-null    float64
dtypes: float64(10), int32(1), int64(5), object(10)
memory usage: 40.0+ KB

In [19]:
df['symboling'].value_counts()
# all symboling values present in the data are valid

 0    65
 1    52
 2    32
 3    27
-1    21
-2     3
Name: symboling, dtype: int64

In [20]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [21]:
import sklearn

In [22]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [23]:
df['make_le']=le.fit_transform(df.make)

In [25]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,1
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,1
5,2,122,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0,1
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0,1
7,1,122,audi,gas,std,four,wagon,fwd,front,105.8,...,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0,1
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0,1
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16430.0,2

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          200 non-null    int64
 1   normalized-losses  200 non-null    int32
 2   make               200 non-null    object
 3   fuel-type          200 non-null    object
 4   aspiration         200 non-null    object
 5   num-of-doors       200 non-null    object
 6   body-style         200 non-null    object
 7   drive-wheels       200 non-null    object
 8   engine-location    200 non-null    object
 9   wheel-base         200 non-null    float64
 10  length             200 non-null    float64
 11  width              200 non-null    float64
 12  height             200 non-null    float64
 13  curb-weight        200 non-null    int64
 14  engine-type        200 non-null    object
 15  num-of-cylinders   200 non-null    object
 16  engine-size        200 non-null    int64
 17  fuel-system        200 non-null    object
 18  bore               200 non-null    float64
 19  stroke             200 non-null    float64
 20  compression-ratio  200 non-null    float64
 21  horsepower         200 non-null    float64
 22  peak-rpm           198 non-null    float64
 23  city-mpg           200 non-null    int64
 24  highway-mpg        200 non-null    int64
 25  price              200 non-null    float64
 26  make_le            200 non-null    int32
dtypes: float64(10), int32(2), int64(5), object(10)
memory usage: 40.8+ KB

In [32]:
df['num-of-doors _le']=le.fit_transform(df["num-of-doors"])

In [33]:
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,0,1
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,0,1
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,0,1
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,1,0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,1,0

In [124]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           200 non-null    int64
 1   normalized-losses   200 non-null    int32
 2   num-of-doors        200 non-null    int64
 3   wheel-base          200 non-null    float64
 4   length              200 non-null    float64
 5   width               200 non-null    float64
 6   height              200 non-null    float64
 7   curb-weight         200 non-null    int64
 8   num-of-cylinders    200 non-null    int64
 9   bore                200 non-null    float64
 10  stroke              200 non-null    float64
 11  compression-ratio   200 non-null    float64
 12  horsepower          200 non-null    float64
 13  peak-rpm            198 non-null    float64
 14  city-mpg            200 non-null    int64
 15  highway-mpg         200 non-null    int64
 16  price               200 non-null    float64
 17  make_le             200 non-null    int32
 18  body-style_le       200 non-null    int32
 19  drive-wheels_le     200 non-null    int32
 20  engine-location_le  200 non-null    int32
 21  engine-type_le      200 non-null    int32
 22  fuel-system_le      200 non-null    int32
 23  aspiration_le       200 non-null    int32
 24  fuel_type_le        200 non-null    int32
dtypes: float64(10), int32(9), int64(6)
memory usage: 32.2 KB

In [36]:
df['body-style_le']=le.fit_transform(df["body-style"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.0,0,1,0

In [37]:
df['drive-wheels_le']=le.fit_transform(df["drive-wheels"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,0,1,0,2

In [38]:
df['engine-location_le']=le.fit_transform(df["engine-location"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,111.0,5000.0,21,27,13495.0,0,1,0,2,0

In [39]:
df['engine-type_le']=le.fit_transform(df["engine-type"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,5000.0,21,27,13495.0,0,1,0,2,0,0

In [ ]:
automobile['aspiration'].replace('turrrrbo', 'turbo', inplace=True)

In [40]:
df['fuel-system_le']=le.fit_transform(df["fuel-system"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,21,27,13495.0,0,1,0,2,0,0,5

In [69]:
df["num-of-cylinders"].value_counts()

4     156
6      24
5      10
8       4
2       4
12      1
3       1
Name: num-of-cylinders, dtype: int64

In [42]:
df['num-of-cylinders'].replace('four',4,inplace=True)

In [43]:
df['num-of-cylinders'].replace('five',5,inplace=True)

In [48]:
df['num-of-cylinders'].replace('six',6,inplace=True)

In [47]:
df['num-of-cylinders'].replace('two',2,inplace=True)

In [46]:
df['num-of-cylinders'].replace('eight',8,inplace=True)

In [45]:
df['num-of-cylinders'].replace('twelve',12,inplace=True)

In [44]:
df['num-of-cylinders'].replace('three',3,inplace=True)

In [49]:
df.to_csv('./automobile_cleaned_data_with_categorical_variables.csv')
#saving the cleaned data for safety

In [53]:
df=df.drop(['make'],axis=1)

In [54]:
df.head(5)

,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
0,3,122,gas,std,two,convertible,rwd,front,88.6,168.8,...,21,27,13495.0,0,1,0,2,0,0,5
1,3,122,gas,std,two,convertible,rwd,front,88.6,168.8,...,21,27,16500.0,0,1,0,2,0,0,5
2,1,122,gas,std,two,hatchback,rwd,front,94.5,171.2,...,19,26,16500.0,0,1,2,2,0,4,5
3,2,164,gas,std,four,sedan,fwd,front,99.8,176.6,...,24,30,13950.0,1,0,3,1,0,2,5
4,2,164,gas,std,four,sedan,4wd,front,99.4,176.6,...,18,22,17450.0,1,0,3,0,0,2,5

In [56]:
df=df.drop(['body-style'],axis=1)

In [57]:
df=df.drop(['drive-wheels'],axis=1)

In [58]:
df=df.drop(['engine-location'],axis=1)

In [64]:
df=df.drop(['engine-size'],axis=1)

In [67]:
df=df.drop(['fuel-system'],axis=1)

In [70]:
df.head()

,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,wheel-base,length,width,height,curb-weight,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
0,3,122,gas,std,two,88.6,168.8,64.1,48.8,2548,...,21,27,13495.0,0,1,0,2,0,0,5
1,3,122,gas,std,two,88.6,168.8,64.1,48.8,2548,...,21,27,16500.0,0,1,0,2,0,0,5
2,1,122,gas,std,two,94.5,171.2,65.5,52.4,2823,...,19,26,16500.0,0,1,2,2,0,4,5
3,2,164,gas,std,four,99.8,176.6,66.2,54.3,2337,...,24,30,13950.0,1,0,3,1,0,2,5
4,2,164,gas,std,four,99.4,176.6,66.4,54.3,2824,...,18,22,17450.0,1,0,3,0,0,2,5

In [73]:
df["aspiration"].value_counts()

std      164
turbo     36
Name: aspiration, dtype: int64

In [75]:
df['aspiration_le']=le.fit_transform(df["aspiration"])
df.head(1)

,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,wheel-base,length,width,height,curb-weight,...,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le
0,3,122,gas,std,two,88.6,168.8,64.1,48.8,2548,...,27,13495.0,0,1,0,2,0,0,5,0

In [80]:
df.head()

,symboling,normalized-losses,fuel-type,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,...,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le
0,3,122,gas,two,88.6,168.8,64.1,48.8,2548,4,...,27,13495.0,0,1,0,2,0,0,5,0
1,3,122,gas,two,88.6,168.8,64.1,48.8,2548,4,...,27,16500.0,0,1,0,2,0,0,5,0
2,1,122,gas,two,94.5,171.2,65.5,52.4,2823,6,...,26,16500.0,0,1,2,2,0,4,5,0
3,2,164,gas,four,99.8,176.6,66.2,54.3,2337,4,...,30,13950.0,1,0,3,1,0,2,5,0
4,2,164,gas,four,99.4,176.6,66.4,54.3,2824,5,...,22,17450.0,1,0,3,0,0,2,5,0

In [82]:
df['fuel_type_le']=le.fit_transform(df["fuel-type"])
df.head(1)

,symboling,normalized-losses,fuel-type,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,gas,two,88.6,168.8,64.1,48.8,2548,4,...,13495.0,0,1,0,2,0,0,5,0,1

In [83]:
df=df.drop(['fuel-type'],axis=1)

In [85]:
df.head()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,bore,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,two,88.6,168.8,64.1,48.8,2548,4,3.47,...,13495.0,0,1,0,2,0,0,5,0,1
1,3,122,two,88.6,168.8,64.1,48.8,2548,4,3.47,...,16500.0,0,1,0,2,0,0,5,0,1
2,1,122,two,94.5,171.2,65.5,52.4,2823,6,2.68,...,16500.0,0,1,2,2,0,4,5,0,1
3,2,164,four,99.8,176.6,66.2,54.3,2337,4,3.19,...,13950.0,1,0,3,1,0,2,5,0,1
4,2,164,four,99.4,176.6,66.4,54.3,2824,5,3.19,...,17450.0,1,0,3,0,0,2,5,0,1

In [87]:
df['num-of-doors'].replace('four',4,inplace=True)
df['num-of-doors'].replace('two',2,inplace=True)

In [89]:
df.head()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,bore,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,13495.0,0,1,0,2,0,0,5,0,1
1,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,16500.0,0,1,0,2,0,0,5,0,1
2,1,122,2,94.5,171.2,65.5,52.4,2823,6,2.68,...,16500.0,0,1,2,2,0,4,5,0,1
3,2,164,4,99.8,176.6,66.2,54.3,2337,4,3.19,...,13950.0,1,0,3,1,0,2,5,0,1
4,2,164,4,99.4,176.6,66.4,54.3,2824,5,3.19,...,17450.0,1,0,3,0,0,2,5,0,1

In [93]:
df.head()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,bore,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,13495.0,0,1,0,2,0,0,5,0,1
1,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,16500.0,0,1,0,2,0,0,5,0,1
2,1,122,2,94.5,171.2,65.5,52.4,2823,6,2.68,...,16500.0,0,1,2,2,0,4,5,0,1
3,2,164,4,99.8,176.6,66.2,54.3,2337,4,3.19,...,13950.0,1,0,3,1,0,2,5,0,1
4,2,164,4,99.4,176.6,66.4,54.3,2824,5,3.19,...,17450.0,1,0,3,0,0,2,5,0,1

In [108]:
df=df.drop(['num-of-doors _le'],axis=1)

In [104]:
df.head(5)

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,bore,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,13495.0,0,1,0,2,0,0,5,0,1
1,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,16500.0,0,1,0,2,0,0,5,0,1
2,1,122,2,94.5,171.2,65.5,52.4,2823,6,2.68,...,16500.0,0,1,2,2,0,4,5,0,1
3,2,164,4,99.8,176.6,66.2,54.3,2337,4,3.19,...,13950.0,1,0,3,1,0,2,5,0,1
4,2,164,4,99.4,176.6,66.4,54.3,2824,5,3.19,...,17450.0,1,0,3,0,0,2,5,0,1

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           200 non-null    int64
 1   normalized-losses   200 non-null    int32
 2   num-of-doors        200 non-null    int64
 3   wheel-base          200 non-null    float64
 4   length              200 non-null    float64
 5   width               200 non-null    float64
 6   height              200 non-null    float64
 7   curb-weight         200 non-null    int64
 8   num-of-cylinders    200 non-null    int64
 9   bore                200 non-null    float64
 10  stroke              200 non-null    float64
 11  compression-ratio   200 non-null    float64
 12  horsepower          200 non-null    float64
 13  peak-rpm            198 non-null    float64
 14  city-mpg            200 non-null    int64
 15  highway-mpg         200 non-null    int64
 16  price               200 non-null    float64
 17  make_le             200 non-null    int32
 18  body-style_le       200 non-null    int32
 19  drive-wheels_le     200 non-null    int32
 20  engine-location_le  200 non-null    int32
 21  engine-type_le      200 non-null    int32
 22  fuel-system_le      200 non-null    int32
 23  aspiration_le       200 non-null    int32
 24  fuel_type_le        200 non-null    int32
dtypes: float64(10), int32(9), int64(6)
memory usage: 32.2 KB

In [111]:
Y_df=df["symboling"]

In [113]:
Y_df.head(5)
headers=["symboling"]

0    3
1    3
2    1
3    2
4    2
Name: symboling, dtype: int64

In [114]:
Y_df.columns=headers

In [117]:
Y_df.head(5)

0    3
1    3
2    1
3    2
4    2
Name: symboling, dtype: int64

In [116]:
Y_df

0      3
1      3
2      1
3      2
4      2
      ..
195   -1
196   -1
197   -1
198   -1
199   -1
Name: symboling, Length: 200, dtype: int64

In [118]:
df.head(1)

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,bore,...,highway-mpg,price,make_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,3,122,2,88.6,168.8,64.1,48.8,2548,4,3.47,...,27,13495.0,0,0,2,0,0,5,0,1

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           200 non-null    int64
 1   normalized-losses   200 non-null    int32
 2   num-of-doors        200 non-null    int64
 3   wheel-base          200 non-null    float64
 4   length              200 non-null    float64
 5   width               200 non-null    float64
 6   height              200 non-null    float64
 7   curb-weight         200 non-null    int64
 8   num-of-cylinders    200 non-null    int64
 9   bore                200 non-null    float64
 10  stroke              200 non-null    float64
 11  compression-ratio   200 non-null    float64
 12  horsepower          200 non-null    float64
 13  peak-rpm            198 non-null    float64
 14  city-mpg            200 non-null    int64
 15  highway-mpg         200 non-null    int64
 16  price               200 non-null    float64
 17  make_le             200 non-null    int32
 18  body-style_le       200 non-null    int32
 19  drive-wheels_le     200 non-null    int32
 20  engine-location_le  200 non-null    int32
 21  engine-type_le      200 non-null    int32
 22  fuel-system_le      200 non-null    int32
 23  aspiration_le       200 non-null    int32
 24  fuel_type_le        200 non-null    int32
dtypes: float64(10), int32(9), int64(6)
memory usage: 32.2 KB

In [122]:
xf=df[["symboling","normalized-losses","make_le","fuel_type_le","aspiration_le","num-of-doors","body-style_le","drive-wheels_le","engine-location_le",
      "wheel-base","length","width","height","curb-weight","engine-type_le","num-of-cylinders",
      "engine-size","fuel-system_le","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]]

KeyError: "['engine-size'] not in index"