# Loading Data

Import the required tools

In [18]:
import matplotlib.pyplot as ply
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv("C:/Users/LENOVO/Desktop/DataSet.csv", header=None)

In [20]:
df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

Allot column names

In [24]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = headers
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

#### Dealing with missing data

Its Given that some data is missing in the data set description

 Attribute #:   Number of instances missing a value:
   2.             41    //normalized loses
   6.             2      //num-of-doors
   19.            4     //bore
   20.            4      //stroke
   22.            2     //horsepower
   23.            2      //peak-rpm
   26.            4      //price
   
   
   Deal with these missing values: Depends on the columns the missing values are at
   In some training data rows the price is missing
   We want to train the model to predict the price using given data
   Now when price is missing the whole row( training data row) is useless
   So we drop it

In [25]:
df.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [21]:
# Replace ? with NAN
df=df.replace('?',np.NaN)

Below we get all the rows which have atleast one missing cell
We do this to understand how we can deal with the missing values

In [26]:
df.loc[df.isnull().any(axis=1)]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
27,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
43,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,NaN
45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,NaN
46,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048
48,0,NaN,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
49,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,11845
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
58,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
63,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
66,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
71,-1,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
75,1,NaN,mercury,gas,turbo,two,hatchback,rwd,front,102.7,...,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503
82,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629
83,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
84,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
109,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
110,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
113,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
114,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
124,3,NaN,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528
127,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,...,203,mpfi,3.94,3.11,10.0,288,5750,17,28,NaN
130,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
131,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
181,-1,NaN,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750
189,3,NaN,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
191,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
192,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290

num of doors of sedan car are missing
Usually it has 4 doors
So we replace the num of doors by 4 instead of NAN.

In [27]:
df["num-of-doors"].replace(np.nan, "four", inplace=True)

The stroke and bore values of mazda style automobile which runs on gas is missing
We dont have any other rows with these details for reference
So we will replace them with mean

In [28]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

#Replace NaN by mean value
df["bore"].replace(np.nan, avg_bore, inplace=True)

avg_stroke=df['stroke'].astype('float').mean(axis=0)
print("Average of stroke:", avg_stroke)

#Replace NaN by mean value
df["stroke"].replace(np.nan, avg_stroke, inplace=True)

Average of bore: 3.327500000000001
Average of stroke: 3.2559499999999946

In [29]:
avg_horsepower=df['horsepower'].astype('float').mean(axis=0)
print("Average of horsepower:", avg_horsepower)

#Replace NaN by mean value
df["horsepower"].replace(np.nan, avg_bore, inplace=True)

avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average of peak_rpm:", avg_peakrpm)

#Replace NaN by mean value
df["peak-rpm"].replace(np.nan, avg_peakrpm, inplace=True)

Average of horsepower: 104.20792079207921
Average of peak_rpm: 5124.009900990099

In [30]:
# Calculate the average of the column
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

#Replace "NaN" by mean value in "normalized-losses" column
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

Average of normalized-losses: 122.29447852760737

In [15]:
# Calculate the average of the column
avg_price = df["price"].astype("float").mean(axis=0)
print("Average of prices:", avg_price)

#Replace "NaN" by mean value in "normalized-losses" column
df["price"].replace(np.nan, avg_price, inplace=True)

Average of prices: 13190.59

<b> Changing data type to correct format</b>

<html Changing data type to correct format >

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              200 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [32]:
#Convert data types to proper format
df[["bore", "stroke","price","peak-rpm","horsepower"]] = df[["bore", "stroke","price","peak-rpm","horsepower"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")

In [33]:
df.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0

In [34]:
df['symboling'].value_counts()
# all symboling values present in the data are valid

 0    67
 1    54
 2    32
 3    27
-1    21
-2     3
Name: symboling, dtype: int64

<i>Changing Categorical features to numeric for use in neural network</i>

In [35]:
import sklearn

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [37]:
df['make_le']=le.fit_transform(df.make)

In [39]:
df['num-of-doors _le']=le.fit_transform(df["num-of-doors"])

In [40]:
df['body-style_le']=le.fit_transform(df["body-style"])
df.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111.0,5000.0,21,27,13495.0,0,1,0

In [41]:
df['drive-wheels_le']=le.fit_transform(df["drive-wheels"])

In [42]:
df['engine-location_le']=le.fit_transform(df["engine-location"])

In [43]:
df['engine-type_le']=le.fit_transform(df["engine-type"])

In [44]:
df['fuel-system_le']=le.fit_transform(df["fuel-system"])

In [48]:
df['aspiration_le']=le.fit_transform(df["aspiration"])

In [49]:
df['fuel_type_le']=le.fit_transform(df["fuel-type"])

In [45]:
df["num-of-cylinders"].value_counts()

four      158
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

In [46]:
df['num-of-cylinders'].replace('four',4,inplace=True)
df['num-of-cylinders'].replace('five',5,inplace=True)
df['num-of-cylinders'].replace('six',6,inplace=True)
df['num-of-cylinders'].replace('two',2,inplace=True)
df['num-of-cylinders'].replace('eight',8,inplace=True)
df['num-of-cylinders'].replace('twelve',12,inplace=True)
df['num-of-cylinders'].replace('three',3,inplace=True)

Deleting the categorical features that we already converted

In [47]:
df=df.drop(['make'],axis=1)
df=df.drop(['body-style'],axis=1)
df=df.drop(['drive-wheels'],axis=1)
df=df.drop(['fuel-system'],axis=1)

In [50]:
df=df.drop(['fuel-type'],axis=1)

Replacing the string in num-of-doors with integers

In [51]:
df['num-of-doors'].replace('four',4,inplace=True)
df['num-of-doors'].replace('two',2,inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           204 non-null    int64
 1   normalized-losses   204 non-null    int32
 2   aspiration          204 non-null    object
 3   num-of-doors        204 non-null    int64
 4   engine-location     204 non-null    object
 5   wheel-base          204 non-null    float64
 6   length              204 non-null    float64
 7   width               204 non-null    float64
 8   height              204 non-null    float64
 9   curb-weight         204 non-null    int64
 10  engine-type         204 non-null    object
 11  num-of-cylinders    204 non-null    int64
 12  engine-size         204 non-null    int64
 13  bore                204 non-null    float64
 14  stroke              204 non-null    float64
 15  compression-ratio   204 non-null    float64
 16  horsepower          204 non-null    float64
 17  peak-rpm            204 non-null    float64
 18  city-mpg            204 non-null    int64
 19  highway-mpg         204 non-null    int64
 20  price               200 non-null    float64
 21  make_le             204 non-null    int32
 22  num-of-doors _le    204 non-null    int32
 23  body-style_le       204 non-null    int32
 24  drive-wheels_le     204 non-null    int32
 25  engine-location_le  204 non-null    int32
 26  engine-type_le      204 non-null    int32
 27  fuel-system_le      204 non-null    int32
 28  aspiration_le       204 non-null    int32
 29  fuel_type_le        204 non-null    int32
dtypes: float64(10), int32(10), int64(7), object(3)
memory usage: 40.0+ KB

In [55]:
df=df.drop(['num-of-doors _le'],axis=1)

In [56]:
df['symboling'].value_counts()

 0    67
 1    54
 2    32
 3    27
-1    21
-2     3
Name: symboling, dtype: int64

We will give -2 with 4 and 
-1 with 5 for convinience 
#We will deal with only positive values

In [58]:
df['symboling'].replace(-1,4,inplace=True)
df['symboling'].replace(-2,5,inplace=True)

In [59]:
df['symboling'].value_counts()

0    67
1    54
2    32
3    27
4    21
5     3
Name: symboling, dtype: int64

Data Normalization

This will give data in proper range

In [61]:
df[["length","width","height"]].head() # these values vary highly w.r.t rest column values

   length  width  height
0   168.8   64.1    48.8
1   168.8   64.1    48.8
2   171.2   65.5    52.4
3   176.6   66.2    54.3
4   176.6   66.4    54.3

In [62]:
#-> Simple Feature Scaling
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()
df['height'] = df['height']/df['height'].max()

# show the scaled columns
df[["length","width","height"]].head()

     length     width    height
0  0.811148  0.886584  0.816054
1  0.811148  0.886584  0.816054
2  0.822681  0.905947  0.876254
3  0.848630  0.915629  0.908027
4  0.848630  0.918396  0.908027

In [71]:
df.to_csv('./Final_Cleaned_data.csv')
#saving the cleaned data for safety

In [63]:
# Separating the independent variables

x_df=df[["normalized-losses","make_le","fuel_type_le","aspiration_le","num-of-doors","body-style_le","drive-wheels_le","engine-location_le",
      "wheel-base","length","width","height","curb-weight","engine-type_le","num-of-cylinders",
      "engine-size","fuel-system_le","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]]

In [64]:
x_df1=x_df.iloc[1: ,:]
x_df1.head()

,normalized-losses,make_le,fuel_type_le,aspiration_le,num-of-doors,body-style_le,drive-wheels_le,engine-location_le,wheel-base,length,...,engine-size,fuel-system_le,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,122,0,1,0,2,0,2,0,88.6,0.811148,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,122,0,1,0,2,2,2,0,94.5,0.822681,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,164,1,1,0,4,3,1,0,99.8,0.848630,...,109,5,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,164,1,1,0,4,3,0,0,99.4,0.848630,...,136,5,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,122,1,1,0,2,3,1,0,99.8,0.851994,...,136,5,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [65]:
import pandas as pd 
from sklearn import preprocessing 
x = df.values 
#returns a numpy array 
min_max_scaler = preprocessing.MinMaxScaler() 
x_scaled = min_max_scaler.fit_transform(x_df1) 
df_x_normal = pd.DataFrame(x_scaled)

<b> Dividing the data to X (independent features) and Y (dependent variable)

In [66]:
y_df=df[["symboling"]]

In [68]:
df_x_normal.to_csv('./X_normal_data.csv')

In [70]:
y_df.to_csv('./Y_normal_data.csv')
#saving the cleaned data for safety